body {
  background-color: #faf3f3;
  color: rgb(53, 49, 49);
}

.navbar {
  background-color: #ffe2adf1;
  /*margin-top: -100px; */
}

.navbar-light .navbar-nav .nav-link {
  font: 1.4rem 'Libre Baskerville', serif;
  font-weight: 400;
  color: rgb(53, 49, 49);
}

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
color: #000;
}

.dropdown-item, .dropdown-menu {
  background-color: #faf3f3;
  font: 1.2rem 'Libre Baskerville', serif;
  font-weight: 400;
  border: none;
}

.dropdown-item {
  color: rgb(53, 49, 49);
}

h1 {
  font: 6rem 'Libre Baskerville', serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.808);
  text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.623);
}

h2 {
  font: 3rem 'Libre Baskerville', serif;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.808);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
}

.dropdown-item > a:hover, a:focus {
  color: #ffd484ce;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
}

.carousel-indicators li {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.dropdown-divider {
border-top: 1px solid #ffe2ad;
}
 
a {
  color: #fff;
  text-decoration: none;
}

a:hover, a:focus {
  color: #ffd484ce;
}