body {
  background-color: #FFECE3;
  color: #55433B; }

.container-hr {
  border-top: 1px solid #B0765E; }

.nav-tabs {
  border-bottom: 1px solid #ffe2ad; }

.nav-tabs, .nav-tabs > li {
  padding: 10px; }

.navbar {
  background-color: #ffe2adfb; }

.navbar-light .navbar-nav .nav-link {
  font: 1.5rem 'Libre Baskerville', serif;
  font-weight: 400;
  color: #55433B;
  padding: 15px; }

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #000; }

.dropdown-item, .dropdown-menu {
  background-color: #FFECE3;
  font: 1.2rem 'Libre Baskerville', serif;
  font-weight: 400;
  border: none; }

.dropdown-item, i {
  color: #55433B; }

h1 {
  /*for carousel headers */
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  color: #ffe2ad;
  text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.438); }

h2 {
  /*section headers */
  font-family: "Libre Baskerville", serif;
  font-size: 2.4rem;
  font-weight: 300;
  color: #55433B;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5); }

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.carousel-caption {
  top: 30%;
  bottom: auto;
  /* need for caption box height */ }

/*
   top: 50%;
   transform: translateY(-50%);
   font-size: 2rem;
   padding: 0px;
 */
.carousel-indicators li {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffd484cc;
  bottom: 40px;
  /* border: 1px solid #faf3f3e0; looks..pixelated when added? fix if can*/ }

.dropdown-divider {
  border-top: 1px solid #ffe2ad; }

a {
  font-size: 1.5rem;
  color: #55433B;
  text-decoration: none; }

a:hover, a:focus, .fa:hover {
  color: #B0765E;
  text-decoration: none; }

.site-footer {
  background-color: #ffe2ad; }
